*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Assistant', sans-serif;
}

body{
    width: 80%;  
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    width: 100%;
    margin-top: 30px;
}

main{
    margin-top: 30px;
    margin-bottom: 15px;
}

.scritta-over{
    color: white;
    position: absolute;
    bottom: 130px;
    left: 50px;
    font-size: 2em;
    /* font-weight: bold; */
}

.scritta-over2{
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.box-yellow{
    width: 100%;
    height: 500px;
    /* IMPORTANTE USARE UN ALTEZZA FISSA */
    background-image: url("./img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.box-blue{
    width: 100%;
    height: 650px;
    /* margin: 30px 0;  (NON CONVIENE METTERLO)  */
}

.img-box-blu1{
    
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat, repeat;
    border-radius: 20px;
    height: 40%;
    margin-bottom: 10px;
}

.img-box-blu2{
    
    background-size: auto;
    background-position: center;
    border-radius: 20px;
    height: 40%;
    margin-bottom: 10px;
}

.img-box-blu3{
   
    /* background-repeat: no-repeat, repeat; */
    background-size: auto;
    border-radius: 20px;
    height: 40%;
    margin-bottom: 10px;
}

#img-c-1{
    background-image: url("./img/img-1.jpg");
}


#img-c-2{
    background-image: url("./img/banner-2.jpg");
}


#img-c-3{
    background-image: url("./img/img-3.jpg");
}

.img-column{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position:relative;
}

#sottotitolo, p{
    color: rgba(151,151,151,255);
}


footer{
    width: 100%;
    height: 80px;
    text-align: center;
}

.box-azzurro{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    position: relative;
}

.sx{
    width: 20%;
    height: 520px;
    float: left;
    
}

.cc{
    width: calc(60% - 60px);
    height: 520px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    
}

.dx{
    width: 20%;
    height: 520px;
    float: left;
    
}

.Logo{
    height: 50px;
    border-right: 1px solid black;
    padding-right: 10px;
}

li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.schermata-principale{
    position: relative;
}

.menu-principale a{
    display: inline-block;
    padding: 20px;
    list-style-type: none;
    color: rgba(151,151,151,255);
    font-size: 20px;
    /* padding-left: 0; */
}

.bottoni-menu{
    text-decoration: none;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 20px;
}


li:hover{
    background-color: black;
}



